body {
margin: 0;
height: 100vh;
background: linear-gradient(to bottom right, #a6dcef, #ffb347);
color:black;
font-family: arial, sans-serif;
}

h3{
padding: 10px 22px;
color:white;
background-color: #333333;
border: 2px solid white;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
padding-bottom:2vw;
padding-top:2vw;
}

li a:hover {
background-color: #FFAB35;
}


.logo {
float: left;
width: 25%;
margin: 1%;
box-sizing: border-box;
text-align: center;
    }

svg:hover {
transform: scale(0.7);
}