body {
margin: 0;
height: 100%;
width: 100%;
background: linear-gradient(to bottom right, #a6dcef, #ffb347);;
color:black;
font-family: arial, sans-serif;
text-align: center;
}

h1{
padding: 15px 32px;
color:white;
background-color: #333333;
border: 2px solid white;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
padding-bottom:2vw;
padding-top:2vw;
}

li a:hover {
background-color: #FFAB35;
}

img {
max-width: 400px;
max-height: 6000px;
border-style: solid;
border-width: 3px;
}

img:hover {
transform: scale(1.25);
border-color:white;
}
