body {
background-color: #FFAB35;
color:black;
}
body#resume {
    background-color:#A3D5FF;
    color:white;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 0px;
}

img {
  max-width: 400%;
  max-height:400%;
  border: 6px black;
  border: 3px solid Black;
}

.text {
  font-size: 30px;
}

body#gallery {
    color:black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
    padding-bottom:2vw;
    padding-top:2vw;
}

li a:hover {
  background-color: #FFAB35;
}

body#index h1 {
  float: left;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: left;
  width: 100%;
}

body#index h2 {
  float: left;
  padding-top:2vw;
  padding-bottom:2vw;
  text-align: left;
  width: 100%;
  text-decoration: underline;
}

body#index p {
  float: left;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: left !important;
  width: 100%;
}

body#resume h1 {
    border: 3px solid DarkOrange;
    margin: 50px;
    text-align: center;
    color:black;
    width: 60%;
    margin:2em auto;
}


section.intro {
    background-color:white;
    padding-top:2vw;
    padding-bottom:2vw;
    color:black;
    margin:auto;
    padding:2em;
    line-height:1.50em;
    width: 90%;
    border: 3px #A3D5FF; 
}
