body {
margin: 0;
height: 100%;
width: 100%;
background: linear-gradient(to bottom right, #a6dcef, #ffb347);;
color:black;
font-family: arial, sans-serif;
}

h1{
padding: 15px 32px;
color:white;
background-color: #333333;
border: 2px solid white;
text-align: center;
}

h3{
margin: 15px;
text-decoration: underline;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
padding-bottom:2vw;
padding-top:2vw;
}

li a:hover {
background-color: #FFAB35;
}

iframe.video {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
border: none;
}

div.youtube {
position: relative;
width: 100%;
overflow: hidden;
padding-top: 55%;
}

